{% extends "layout.html" %}

{% block body %}

    <div class="col">
        <form action="/compare" enctype="multipart/form-data" method="post">

            <!-- TODO -->
            Text1: <input type="file" name="file1">
            Text2: <input type="file" name="file2"><br>

            <input type="radio" name="algorithm" value="lines" checked> Line
            <input type="radio" name="algorithm" value="sentences"> Sentence
            <input type="radio" name="algorithm" value="substrings"> Substring
            <input type="number" name="length"><br>
            <input type="submit" value="Submit">
        </form>
    </div>

{% endblock %}
