{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table">
        <tr>
            <th>Stock</th>
            <th>Current Price</th>
            <th>Quantity Holding</th>
            <th>Total Value</th>
        </tr>
        {% for stock in stocks %}
            <tr>
                <td>{{stock.name}}</th>
                <td>USD {{stock.price}}</th>
                <td>{{stock.quantity}}</th>
                <td>USD {{stock.price * stock.quantity}}</th>
            </tr>
        {% endfor %}
    </table>

    <table class="table">
        <tr>
            <th>Current cash balance</th>
            <th>Total account value</th>
        </tr>
        <tr>
            <td>USD {{cash_balance}}</td>
            <td>USD {{total_value}}</td>
        </tr>
    </table>

{% endblock %}