{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <div style="margin-bottom:10px">{{message}}</div>
    <table class="table">
        <tr>
            <th>Stock</th>
            <th>Current Price</th>
            <th>Quantity Holding</th>
            <th>Total Value</th>
        </tr>
        {% for stock in stocks %}
            <tr>
                <td>{{stock.name}}</th>
                <td>USD {{stock.price}}</th>
                <td>{{stock.quantity}}</th>
                <td>USD {{stock.total_value}}</th>
            </tr>
        {% endfor %}
    </table>

    <table class="table">
        <tr>
            <th>Current cash balance</th>
            <th>Total account value</th>
        </tr>
        <tr>
            <td>USD {{cash_balance}}</td>
            <td>USD {{total_value}}</td>
        </tr>
    </table>
    <form action="/add_cash" method="post">
        <div class="form-group">
            <div style="margin-bottom:10px">Add cash to your account</div>
            <input class="form-control" name="add_cash" placeholder="amount to add" type="number"/>
            <button class="btn btn-primary" type="submit">Add cash</button>
        </div>

    </form>

{% endblock %}